* {
    margin : 0;
    padding : 0 ;    
    
}

body {
    background: linear-gradient(to right, #33ccff 0%, #00ffcc 100%);
    text-align: center;
    color:#fff;

}
.container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius:1rch;
    border: none;
    box-shadow: 0 0 1rch rgba(0,0,0,0.1);
    font-size: 8vmin;
    color:crimson;
}

.reset-btn {
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
}